<body>
    
<div class="container paD">

    <div class="col-md-12 paD" style= "background-color:  rgba(191, 166, 107, 1)">

    <div class="row">
        <div class="col-md-12">
          <h1 class="font">Apagar Produto:</h1>      
        </div>
    </div>

   <div class="row">
       <div class="col-md-12">
           <h4 class="text-center text-light">Tem certeza que deseja apagar esse produto?</h4>
       </div>
   </div>

   <div class="row">
    <div class="col-md-12 d-flex flex-wrap justify-content-center p-3 bg">
        
        <div class="card cds mb-3" style="width: 20rem;">
            <img src="{{produto.foto}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title texto">{{produto.nomeProduto}}</h5>
              <p class="card-text texto">{{produto.descricao}}</p>
              <p class="texto">R${{produto.preco}}</p>
        </div>
    </div>
</div>
</div>

   <div class="row">
       <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-light me-4" routerLink='/produto'>Cancelar</button>
      <button class="btn btn-light"(click)='apagar()'>Apagar</button> 
       </div>
   </div>

</div>
</div>

</body>
