<div class="container p-md-5 bg">
    <div class="row d-flex text-center justify-content-center">
        <p class="fs-1 ">Blog</p>
        <hr>
        <div class="col-8 d-flex justify-content-center">
           <p class="d-flex ">Mudanças de comportamento podem gerar padrões sustentáveis de consumo e produção</p>
           </div>
        <div class="col-8">
         <img src="http://www.paranacidade.org.br/modules/galeria/uploads/2333/normal_161117305220012021ODS03.jpg" alt="">
        </div>
           
           <div class="col-8 d-flex">
            <p class="py-5">Promover uma verdadeira revolução de comportamento. É o que propõe o Objetivo do Desenvolvimento Sustentável 12 (ODS 12), da Organização das Nações Unidas (ONU), para a adoção de padrões sustentáveis no consumo e na produção. A principal característica nessa proposta é explicitar que a responsabilidade sobre os resultados deve ser dividida em todos os níveis, das atitudes individuais às coletivas, presentes nas legislações, nas relações comerciais, no desenvolvimento e uso de tecnologia até as tratativas internacionais.
                </p>   
        </div>
        
    </div>