<div class="bg">
   
    <div class="row d-flex text-center justify-content-center"> 
        <div class="col-md-9 mt-5 mb-5" style="background-color: rgba(191, 166, 107, 1);">
        <h1 class="fontA">BLOG</h1>
    </div>
</div>

    <div class="row d-flex text-center justify-content-center"> 
        <div class="col-md-8 mb-5 fontC" style="background-color: rgba(191, 166, 107, 1);">
            <br>

            <a href="http://www.paranacidade.org.br/2021/01/11785/Mudancas-de-comportamento-podem-gerar-padroes-sustentaveis-de-consumo-e-producao.html" 
            target="blank" class="iconblog">
            <i class="fas fa-newspaper"></i>
              </a>
              <br><br>

           <p>Mudanças de comportamento podem gerar padrões sustentáveis de consumo e produção</p>
           <br>
        
         <img src="http://www.agenda2030.org.br/static/home/images/ods_icons/12.png" height="300px" width="300px">
    
            <p class="fontB">Promover uma verdadeira revolução de comportamento. É o que propõe o Objetivo do Desenvolvimento Sustentável 12 (ODS 12), da Organização das Nações Unidas (ONU),
                 para a adoção de padrões sustentáveis no consumo e na produção. A principal característica nessa proposta é explicitar que a responsabilidade sobre os resultados deve ser dividida 
                 em todos os níveis, das atitudes individuais às coletivas, presentes nas legislações, nas relações comerciais, no desenvolvimento e uso de tecnologia até as tratativas internacionais. </p> 
      
    </div>
    </div>
    
        
</div>