body{
    background-color: rgba(72, 213, 5, 0.39);
}

button{
    background-color: rgba(191, 166, 107, 1);
    color: white;
}

button:hover{
    background-color: white;
    color: #B6ED9D;
    
}

.font{
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
}

.fontA{
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.paD{
    padding-top: 50px;
    padding-bottom: 50px;
}
