<body>
  
<div class="container paD">

  <div class="col-md-12 paD" style= "background-color:  rgba(191, 166, 107, 1)">

    <div class="row">
      <div class="col-md-12">
        <h1 class="fontA">Atualizar Categoria:</h1>
      </div>
    </div>
  
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
  

        <div class="form-group">
            <label class="text-light" for="tipoProduto">Categoria:</label>
            <input type="text" class="form-control font" id="tipoProduto" [(ngModel)]='categoria.tipoProduto'>
          </div>
        <br><br>
        
        <div class="d-flex justify-content-center">
          <button class="btn btn-light me-4" routerLink='/categoria' >Cancelar</button>
          <button class="btn btn-light" (click)='atualizar()'>Atualizar</button>
        </div>
  
      </div>
    </div>
  
  </div>
</div>
</body>