.homeBg
{
  display: grid;
	background-color: #B6ED9D;
  background-size: cover;
}
.textCar
{
  color: rgba(191, 166, 107, 1)
}
.imgCar
{
  width: 100%;
  height: 50vh;
}

h3{
  color: white;
  text-shadow:3px 3px 5px #B6ED9D;
}

p{
  color: white;
  text-shadow:2px 2px 5px #B6ED9D;
}

.titleCard{
  color: rgba(191, 166, 107, 1);
  font-family: cursive;
  font-style: italic;
}

.body{
background-color: #BFA66B;
}

/*
------------------------------------
---------------SETUP----------------
------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  /* REMOVES FOCUS BOX ON BUTTONS */
  outline: 0 !important;
}

html {
  -webkit-font-smoothing: antialiased !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #BFA66B;
}


/*
------------------------------------
---------------LAYOUT---------------
------------------------------------

------------------------------------
----------------FONTS---------------
------------------------------------
*/

h1 {
  font-family: 'Franklin Gothic', sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #FFF;
  letter-spacing: 1.98px;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1.98px;
  margin-bottom: 15px;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
  letter-spacing: 3px;
  padding-bottom: 5px;
  margin-top: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  letter-spacing: 1px;
}

/*
------------------------------------
--------------BUTTONS---------------
------------------------------------
*/

/* BASKET BUTTON */
.basket {
  background-color: #B6ED9D;
  border: none;
  padding: 20px 50px;
  border-radius: 100px;


  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1.98px;
  margin-bottom: 20px;
  margin-top: 15px;

  /* ANIMATION */
  -o-transition:color .3s ease-out,  .3s ease-in;
  -ms-transition:color .3s ease-out,  .3s ease-in;
  -moz-transition:color .3s ease-out,  .3s ease-in;
  -webkit-transition:color .3s ease-out, .3s ease-in;
  transition:color .3s ease-out, .3s ease-in;

  /* ANIMATION */
  -o-transition:color .1s ease-out, transform .1s ease-in;
  -ms-transition:color .1s ease-out, transform .1s ease-in;
  -moz-transition:color .1s ease-out, transform .1s ease-in;
  -webkit-transition:color .1s ease-out, transform .1s ease-in;
  transition:color .1s ease-out, transform .1s ease-in;
}

.basket:before {
  background: url("https://res.cloudinary.com/dviuglhwb/image/upload/v1489676297/cart_t8m4la.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  color: #fff;
  height: 25px;
  margin-right: 13px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 30px;
}

/* BUTTON BACK BACKGROUND */
.button-back {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border-top: 120px solid #BFA66B;
  border-right: 70px solid transparent;

  -webkit-transform:rotate(360deg)

  /* ANIMATION
  -o-transition:color .3s ease-out, border-top .3s ease-in;
  -ms-transition:color .3s ease-out, border-top .3s ease-in;
  -moz-transition:color .3s ease-out, border-top .3s ease-in;
  -webkit-transition:color .3s ease-out, border-top .3s ease-in;
  transition:color .3s ease-out, border-top .3s ease-in;*/
}

/* BUTTON BACK ICON */
.button-back span {
  position: absolute;
  margin-top: -100px;
  margin-left: 10px;

  /* ANIMATION */
  -o-transition:color .2s ease-out, transform .2s ease-in;
  -ms-transition:color .2s ease-out, transform .2s ease-in;
  -moz-transition:color .2s ease-out, transform .2s ease-in;
  -webkit-transition:color .2s ease-out, transform .2s ease-in;
  transition:color .2s ease-out, transform .2s ease-in;
}


/*
------------------------------------
---------------HOVERS---------------
------------------------------------
*/

.basket:hover {
  background-color: #BFA66B;
  cursor: pointer;
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.button-back:hover {
  border-top: 120px solid #BFA66B;
  cursor: pointer;
}

.button-back span:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.box-1 {
  display: flex;
  float: inline-end;
  width: 250px;
  padding: 3px;
  margin: 5 initial;


}

.cardb{
  width: 80%;
}

.bg2{
 background-color: rgba(191, 166, 107, 0.70);

}

.bg3{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
}

.tm{
  height: 200px;
}

