<div class="col-6 p-5 text-white background2 d-flex flex-column align-content-center">
    <h3 class="text-center">Cadastro</h3>

    <div class="form-group mb-2">
        <label for="nome">Nome</label>
        <input [(ngModel)]='usuario.nome'class="form-control  btn-light" type="text" name="nome" id="nome" placeholder="Seu nome">
      </div>

      <div class="form-group mb-2 mt-2">
        <label for="email">Email</label>
        <input [(ngModel)]='usuario.email' class="form-control  btn-light" type="text" name="email" id="email" placeholder="Seu email">
      </div>

      <div class="form-group mb-2 mt-2">
        <label for="foto">Link da Foto</label>
        <input [(ngModel)]='usuario.foto' class="form-control  btn-light" type="text" name="foto" id="foto" placeholder="Link da sua foto">
      </div>

      <div class="form-group mb-2 mt-2">
        <label for="senha">Senha</label>
        <input (input)='confirmSenha($event)' class="form-control  btn-light" type="password" name="senha" id="senha" placeholder="Sua senha">
      </div>

      <div class="form-group mb-2 mt-2">
        <label for="confirmSenha">Confirmar Senha</label>
        <input [(ngModel)]='usuario.senha' class="form-control  btn-light" type="password" name="confirmSenha" id="confirmSenha"
          placeholder="Confirme sua senha">
      </div>

      <div class="form-group">
        <label for="tipo">Tipo de Usuário</label>
        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)' >
          <option>Selecione um tipo de usuário:</option>
          <option value="comprador">Comprador</option>
          <option value="vendedor">Vendedor</option>
        </select>
      </div>

      <div class="d-flex justify-content-between mt-5">
        <button type="submit" class="btn btn-dark mr-4 " routerLink='/logar'>Cancelar</button>
        <button type="submit" class="btn btn-dark " (click)='cadastrar()'>Cadastrar</button>
      </div>

</div>