.fotBg
{
  background-color: #BFA66B;
}
ul.social-network{
  list-style: none;
  padding: 0;
}
ul.social-network li{
  display: inline;
  margin: 0;
  padding: 5px;
}
.fab{
  font-size: 20pt;
  color: white;
  padding: 5px;
}
.fab:hover{
  color: rgba(72, 213, 5, 0.39);
}

.fontR{
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 20px;
  letter-spacing: 15px;
  color: white;
} 

.fontD{
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  color: white;
}

.fontD:hover{
  color: rgba(72, 213, 5, 0.39);
}

.mt-n1 {
  margin-top: -1rem !important;
}




