
<footer class="page-footer font-small fotBg pt-5 ">

  <div class="container ">
 
      <div class="d-flex justify-content-end">
        <p routerLink='/sobre-nos' class="fontD">Sobre nós</p>
      </div>
    
    <div class="row">
      <div class="d-flex justify-content-between">
        <p class="fontR mt-n1"> HABITAT, seu buscador sustentável.</p>

        <ul class="social-network mt-n1">
          <li>
            <a href="https://www.facebook.com/Habitat-seu-buscador-sustent%C3%A1vel-106090341738002" target="blank" class="iconFacebook">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/projeto_habitat/" target="blank" class="iconInstagram">
              <i class="fab fa-instagram"></i>
            </a>
          </li>

          <li>
            <a href="" target="blank" class="iconMensagem">
              <i class="fab fa-google-play"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="footer-copyright text-center py-3" style="background-color:rgb(182, 157, 99)">
    <span class= "text-light"> © 2021 Copyright:</span>
    <a class="text-light" target="_blank" routerLink='/inicio'>  HABITAT</a>
</div>
</footer>
