<footer class="page-footer font-small fotBg pt-4">

  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos na redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li>
            <a href="" target="blank" class="iconFacebook">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>

          <li>
            <a href="" target="blank" class="iconInstagram">
              <i class="fab fa-instagram"></i>
            </a>
          </li>

          <li>
            <a href="" target="blank" class="iconMensagem">
              <i class="fab fa-google-play"></i>
            </a>
          </li>

        </ul>

      </div>
    </div>


  </div>



</footer>
