<body>
   
  <div class="row-cols-4 p-5">
    <div class="col-md-12 d-flex flex-wrap justify-content-between p-5 bg">
  <div *ngFor='let produto of categoria.produtosCriados' class="card cds mb-3" style="width: 20rem;">
    <img src="{{produto.foto}}" class="card-img-top icard" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title texto">{{produto.nomeProduto}}</h5>
      <p class="card-text texto">{{produto.descricao}}</p>
      <p class="texto">R${{produto.preco}}</p>
        <a class="btn btn-light aB" routerLink="/carrinho">Comprar</a>
      </div>
   </div>
       
  </div>
  </div>
 
 </body>