  <div class="row-cols-4 p-5">
  <div class="col-md-12 d-flex flex-wrap justify-content-between p-5 bg">

<div *ngFor='let produto of categoria.produtosCriados' class="card cds" style="width: 18rem;">
    <img src="{{produto.foto}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{produto.nomeProduto}}</h5>
      <p class="card-text">{{produto.descricao}}</p>
      <p>R${{produto.preco}}</p>
      <a class="btn btn-primary m-1" [routerLink]="['/produto-edit', produto.id]">Comprar</a>
    </div>
 </div>
     
</div>
</div>