body{
  background-color: rgba(72, 213, 5, 0.39);
}

.bg{
    background-color: rgba(191, 166, 107, 1);
    margin-top: 20px;
 
}

.aB{
    background-color: rgba(191, 166, 107, 1);
    color: white;
}

.aB:hover{
    background-color: #B6ED9D;
    color:white;
}

.cds{
    border-color: #B6ED9D;
  }
  .cds:hover{
    box-shadow: 0 5px 5px #B6ED9D;
  }
  
  .bt{
    background-color: rgba(191, 166, 107, 1);  
  }
  
  .icard{
   height: 15rem;
  }
  
  .bgh{
    background-color:  rgba(191, 166, 107, 1);
  color: white;
  border-radius:40% 40% 0% 0%;
  margin-bottom: -1.5rem;
  text-align: center;
  }
  
  img{
    border: solid 10px white;
  }

  .texto{
    color: rgb(61, 61, 61);
  }
