<body>
    <div class="container paD">

        <div class="col-md-12 paD" style= "background-color:  rgba(191, 166, 107, 1)">
    

<div class="container">
    <div class="row d-flex text-center justify-content-center">
        <h1 class="font">Sobre Nós:</h1> <br> <br>
        <div class="col-8 d-flex">

            <p class="fontA">
                HABITAT: Conjunto de circunstâncias físicas e geográficas que oferece condições favoráveis à vida e ao
                desenvolvimento de determinada espécie animal ou vegetal. Foi exatamente isso que pensamos para o nosso
                Marketplace, criando um conjunto de empresas que podem oferecer condições favoráveis à vida de clientes
                que estão preocupados com sustentabilidade e bem estar.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div>
            <img src="https://cdn.discordapp.com/attachments/854803377687232514/874355017778348032/unknown.png" alt="" class="p-3 img1">
        </div>
        <div>
            <img src="https://cdn.discordapp.com/attachments/854803377687232514/874674420717875220/unknown.png" alt="" class="p-3 img1">
        </div>
        <div>
            <img src="https://cdn.discordapp.com/attachments/854803377687232514/874676369320189982/unknown.png" alt="" class="p-3 img1">
        </div>
        <div>
            <img src="https://cdn.discordapp.com/attachments/854803377687232514/874674265830617098/unknown.png" alt="" class="p-3 img1">
        </div>
        <div>
            <img src="https://cdn.discordapp.com/attachments/854803377687232514/874674527999774800/unknown.png" alt="" class="p-3 img1">
        </div>

        

    </div>
</div>
</div>


</div>
</body>