<body>
    <div class="container paD">

        <div class="col-md-12 paD" style="background-color:  rgba(191, 166, 107, 1)">


            <div class="container">
                <div class="row d-flex text-center justify-content-center">
                    <h1 class="font">Sobre Nós</h1> <br> <br>
                    <div class="col-8 d-flex">

                        <p class="fontA">
                            HABITAT: Conjunto de circunstâncias físicas e geográficas, que oferece condições favoráveis
                            à vida e ao
                            desenvolvimento de determinada espécie animal ou vegetal. Foi exatamente isso que pensamos
                            para o nosso
                            Marketplace, criando um conjunto de empresas que podem oferecer condições favoráveis à vida
                            de clientes
                            que estão preocupados com sustentabilidade e bem estar. </p>

                    </div>
                </div>




                <div class="d-flex align-items-center justify-content-center">
                    <div>
                        <a href="https://www.linkedin.com/in/felipe-giacomelli-997a8b19b/" target="blank">
                            <img src="https://i.imgur.com/duXaeKU.png" alt="" class="p-3 img1 zoom-img"></a>
                            <div class="divider"></div>
                            <div class="name" >
                                <h1>Felipe Giacomelli</h1>
                            </div>
                    <div class="title">Desenvolvedor Full Stack</div>
                        </div>
    
                <div>
                    <a href="https://www.linkedin.com/in/gabriele-ribeiro-oliveira/" target="blank">
                        <img src="https://i.imgur.com/7xgvBuC.jpg" alt="" class="p-3 img1 zoom-img"></a>
                        <div class="divider"></div>
                        <div class="name">
                            <h1>Gabriele Ribeiro</h1>
                        </div>
                    <div class="title">Desenvolvedora Full Stack</div>
                </div>
                
                <div>
                    <a href="https://www.linkedin.com/in/maria-pinheiro-feitosa/" target="blank">
                        <img src="https://i.imgur.com/5BKNMw1.jpg" alt="" class="p-3 img1 zoom-img"></a>
                        <div class="divider"></div>
                        <div class="name">
                            <h1>Maria Eduarda</h1>
                        </div>
                    <div class="title">Desenvolvedora Full Stack</div>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/nadya-fernanda/" target="blank">
                        <img src="https://i.imgur.com/DvyHNMC.png" alt="" class="p-3 img1 zoom-img"></a>
                        <div class="divider"></div>
                        <div class="name">
                            <h1>Nadya Fernanda</h1>
                        </div>
                    <div class="title">Desenvolvedora Full Stack</div>
                </div>
                
                <div>
                    <a href="https://www.linkedin.com/in/thomazfranca/" target="blank">
                        <img src="https://i.imgur.com/bNFHuCl.jpg" alt="" class="p-3 img1 zoom-img"></a>
                        <div class="divider"></div>
                        <div class="name">
                            <h1>Thomaz França</h1>
                        </div>
                    <div class="title">Desenvolvedor Full Stack</div>
                </div>



            </div>
        </div>
    </div>
    </div>
</body>