<div class="container p-md-5 bg">
    <div class="row d-flex text-center justify-content-center">
        <p class="fs-1 ">Sobre Nos</p>
        <div class="col-8 d-flex">

            <p class="py-5">
                HABITAT: Conjunto de circunstâncias físicas e geográficas que oferece condições favoráveis à vida e ao
                desenvolvimento de determinada espécie animal ou vegetal. Foi exatamente isso que pensamos para o nosso
                Marketplace, criando um conjunto de empresas que podem oferecer condições favoráveis à vida de clientes
                que estão preocupados com sustentabilidade e bem estar.</p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div>
            <img src="https://avatars.githubusercontent.com/u/69607844?v=4" alt="" class="p-3 img1">
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/85172727?v=4" alt="" class="p-3 img1">
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/85180010?v=4" alt="" class="p-3 img1">
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/84246183?v=4" alt="" class="p-3 img1">
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/75401213?v=4" alt="" class="p-3 img1">
        </div>

    </div>

</div>