body {
	height:200px; 
	width:100px;
 }

.bg {
	height: 100%;
	display: grid;
	background-color: #B6ED9D;
}

.sign {
	color: white;
	margin: auto;
	position: relative;
	padding: 1em;
	background-color: #BFA66B;
	border-radius: 40px;
	transform: skewY(-3deg);
	font-family: 'Carrois Gothic', sans-serif;
	width: 400px;
	height: 400px;
	font-size: 10px;
	text-align: center;
	box-shadow: gray -5px -5px;
	top: 25%;
	text-transform: uppercase;
}

.sign h1 {
	text-align: center;
	color: white;
	font-family: 'Carrois Gothic', sans-serif; 
	line-height: 15px;
}

button:hover{
	color: #B6ED9D;
}

.font{
	font-family: 'Carrois Gothic', sans-serif;
	font-size: 20px;
}

.fontA{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
}

.fontB{
	color: white;
}

.fontB:hover{
	color: #B6ED9D;
}

.fixarRodape {
	bottom: 0;
	position: fixed;
	width: 90%;
	text-align: center;
}