
<div class= "bg">

<div class="container-fluid log">

    <div class="sign">

        <form class="p-5">
                <h1>Login:</h1>
                <div class="form-group">
                    <label for="email" class = "font d-flex justify-content-left">Email:</label>
                    <input [(ngModel)]='userLogin.email' class="form-control caixa" type="text" name="email"
                        id="email" placeholder="Seu email">
                </div>

            <div>
                <label for="senha" class = "font d-flex justify-content-left">Senha:</label>
                <input [(ngModel)]='userLogin.senha'type="password" class="form-control caixa" name="senha" id="senha"
                    type="password" placeholder="Sua senha">
            </div>

            <div class="mt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-light"(click)='logar()'>Entrar</button>
                <a href="https://imgur.com/XinFVDU"></a>
            </div>

            <br>
            <p class="text-center fontA">
                Não tem uma conta?
                <br>
                <a routerLink='/cadastrar' class="fontB">Cadastre-se</a>
            </p>
        </form>
    </div>
   </div>
</div>

