.bg{
    background-color: rgba(72, 213, 5, 0.39);
}

.paD{
    padding: 30px;
}
.paD1{
    padding-bottom: 30px;
}

button{
    background-color: rgba(191, 166, 107, 1);
    color: white;
}

button:hover{
    background-color: white;
    color: #B6ED9D;  
}

.font{
    color: white;
}

.font:hover{
    color: gray;
}


.cat{
    background-color: rgba(191, 166, 107, 1);
   
}

.cat2{
    background-color: rgba(191, 166, 107, 1);
    border-radius: 50% 50% 0% 0%;
    margin-bottom: -1.5rem;
    
}
