<div class="container-fluid">
<div class="row">
   <div class="navBg fs-1 me-5 d-flex justify-content-center">
    <a class="logo" href=""><img src="https://i.imgur.com/VpaxMlX.png" title="source: imgur.com" /></a>
   </div>
  </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-dark navBg mt-n1">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link me-2" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" >
          <i class="fa fa-bars mt-md-2" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu navBg1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-light BgH" [routerLink]="['/categoria-buscar', 1]">Vegano</a></li>
            <li><a class="dropdown-item text-light BgH" [routerLink]="['/categoria-buscar', 2]">Alimentício</a></li>
            <li><a class="dropdown-item text-light BgH" [routerLink]="['/categoria-buscar', 3]">Vestuário</a></li>
            <li><a class="dropdown-item text-light BgH" [routerLink]="['/categoria-buscar', 4]">Acessórios</a></li>
            <li><a class="dropdown-item text-light BgH" [routerLink]="['/categoria-buscar', 5]">Beleza</a></li>
            <li><a class="dropdown-item text-light BgH" [routerLink]="['/categoria-buscar', 6]">Higiene</a></li>
            <li><a  class="dropdown-item text-light BgH" routerLink='/categoria'> Criar categoria</a></li>
            <li><a  class="dropdown-item text-light BgH" routerLink="/produto">produtos</a></li>
          </ul>
        </li>

        <li class="mt-md-3 me-3">
          <i routerLink='/blog' class="fas fa-newspaper fa" aria-hidden="true"></i>
        </li>
        
        <li class="nav-item">
          <i routerLink='/inicio' class="fa fa-home mt-md-3" aria-hidden="true"></i>
        </li>
      </ul>

      <form class="d-flex">
        <i  routerLink='/pesquisa' class="fa fa-search mt-md-3" aria-hidden="true"></i>
      </form>

      <ul class="mt-md-4">
        <i routerLink='/carrinho' class="fas fa-shopping-basket fa"></i>
      </ul>

      <ul class="mt-md-4">
        <i routerLink='/logar' class="fa fa-user-circle" aria-hidden="true"></i>
      </ul>



    </div>
  </div>
</nav>
