.navBg
{
  background-color: #BFA66B;
}

.navBg1{
  background-color: #BFA66B;
}

.BgH:hover{
  background-color: rgba(72, 213, 5, 0.39);
}

.pesquisa{
  background-color: rgba(191, 166, 107, 0.5);
  color: white;
  border: none;
}

.font{
  font-family: 'Georama';
  letter-spacing: 20px;
  color: #B7EE9E;
} 
.fa{
  color: white;
}
.fa-home{
  font-size: 20px;
}

.fa-bars{
  font-size: 20px;
}

.fa:hover{
  color: rgba(72, 213, 5, 0.39);
}

.mt-n1 {
  margin-top: -3rem !important;
}

.logo{

  margin-top: 20px;
}
