<body>


<div class="container-fluid">

    <div class="row d-flex justify-content-center ">

      <div class="col-12 fontText bg">

        <h1 class="fs-54 text-center"> Produtos </h1>
        <h5 class="fs-18 text-center">Veja aqui todos os produtos cadastrados ou cadastre um novo:</h5>

        <div class="row d-flex justify-content-lg-center mt-4 mb-5">
          <div class="col-md-3">

            <div class="form-group">
                <input [(ngModel)]='produto.nomeProduto' type="text" class="form-control mb-2" id="nomeProduto" placeholder="Digite o nome do produto">
                <input [(ngModel)]='produto.foto' type="text" class="form-control mb-2" id="foto" placeholder="Insira o Link da foto">
                <input [(ngModel)]='produto.descricao' type="text" class="form-control mb-2" id="descricao" placeholder="Digite a descrição do produto">
                <input [(ngModel)]='idCategoria' type="text" class="form-control mb-2" id="tipoMercadoria" placeholder="Digite o tipo categoria">

                
                

                <input [(ngModel)]='produto.preco' type="text" class="form-control mb-2" id="preco" placeholder="Digite o preco">


                <div class="d-flex justify-content-lg-center ">
                  <button class="btn btn-light botaoCadastrar" (click)='cadastrar()'>Cadastrar</button>
                </div>

              </div>
            </div>
          </div>

        </div>


      </div>

       
         
      
           <div class="row-cols-4 p-5">
             <div class="col-md-12 d-flex flex-wrap justify-content-between p-5 bg">

        
                <div *ngFor='let produto of listaProdutos' class="card cds" style="width: 18rem;">
                  <img src="{{produto.foto}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{produto.nomeProduto}}</h5>
                    <p class="card-text">{{produto.descricao}}</p>
                    <p>R${{produto.preco}}</p>
                    <a class="btn btn-primary m-1" [routerLink]="['/produto-edit', produto.id]">Editar</a>
                    <a class="btn btn-primary m-1" [routerLink]="['/produto-delete', produto.id]">Deletar</a>
                  </div>
               </div>
          </div>
      </div>
  </div>
 
</body>
