.carText
{
  text-align: center;
  color: rgba(191, 166, 107, 1)
}
.imgCar
{

  width: 350px;
  height: 600px;
}
h1 {
  font-family: 'Franklin Gothic', sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #FFF;
  letter-spacing: 1.98px;
  padding-bottom: 10px;
}
h5
{
  font-family: 'Franklin Gothic', sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: rgba(191, 166, 107, 1);
  letter-spacing: 1.98px;
  padding-bottom: 10px;
}
button{
  background-color: #B6ED9D;
  color: white;
}

button:hover{
  background-color: white;
  color: #B6ED9D;
}
